# Projet Python : Santé

## Récupération des données

In [13]:
import time
import requests
import pandas as pd
from selenium import webdriver
import geckodriver_autoinstaller
from selenium.webdriver.common.action_chains import ActionChains

geckodriver_autoinstaller.install()

## Construction de la table Maladies

In [832]:
onglet = ['A','B', 'G','O', 'P']
data_pk_gros = ["//div[@data-pk='patho_a']","//div[@data-pk='patho_b']","//div[@data-pk='patho_g']", "//div[@data-pk='patho_o']", "//div[@data-pk='patho_p']"]

data_pk_moyen = [["//li[@data-pk='asthme']","//li[@data-pk='allergie']" ],["//li[@data-pk='bronchite']" ],["//li[@data-pk='grippe']"], ["//li[@data-pk='orl']"], ["//li[@data-pk='pneumo']"]]

data_pk_petit = [[["//div[@data-pk='sursaud_sau.prop_asthme_hospit_sau']"],["//div[@data-pk='sursaud_sau.prop_allergie_hospit_sau']"]],[["//div[@data-pk='sursaud_sau.prop_bronchite_hospit_sau']"]],
                 [["//div[@data-pk='sursaud_sau.prop_grippe_hospi_sau']"]],[["//div[@data-pk='sursaud_sau.prop_orl_hospit_sau']"]],
                 [["//div[@data-pk='sursaud_sau.prop_pneumo_hospit_sau']"]]]

In [803]:
driver = webdriver.Firefox()

driver.get("https://geodes.santepubliquefrance.fr/#c=indicator&view=map2")
time.sleep(2)

driver.find_element_by_xpath("//a[@id='tm_table']").click()
time.sleep(2)

for i in range(len(data_pk_gros)):
    driver.find_element_by_xpath(data_pk_gros[i]).click()
    time.sleep(1)
    for j in range(len(data_pk_moyen[i])):
        driver.find_element_by_xpath(data_pk_moyen[i][j]).click()
        time.sleep(1)
        for k in range(len(data_pk_petit[i][j])):
            driver.find_element_by_xpath(data_pk_petit[i][j][k]).click()
            time.sleep(1)
        driver.find_element_by_link_text('tous âges').click()
        time.sleep(1)
        zone_retour = driver.find_element_by_xpath("//div[@class='ui-collapset-header mtn mbvs']")
        ActionChains(driver).move_to_element(zone_retour.find_element_by_link_text(onglet[i])).click().perform()
        #zone_retour.find_element_by_link_text(onglet[i]).click() J'ai dû écrire la ligne du dessus à la place c'est un pb propre à mon ordi

In [806]:
L = []

Table = driver.find_element_by_xpath("//tbody")
Rows = Table.find_elements_by_xpath("//tr")
for row in Rows:
    Cells = row.find_elements_by_tag_name('td')
    L.append([cell.text for cell in Cells])

data = L[16 : len(L) - 2]

In [807]:
df_maladies = pd.DataFrame(data, columns = ['Code', 'Libellé', 'Taux hospitalisation asthme (2020 S45)', 'Taux hospitalisation allergie (2020 S45)', 'Taux hospitalisation bronchite (2020 S45)', 'Taux hospitalisation grippe (2020 S45)', 'Taux hospitalisation ORL (2020 S45)', 'Taux hospitalisation pneumopathie (2020 S45)'])
df_maladies.set_index('Code', inplace = True)
df_maladies

,Libellé,Taux hospitalisation asthme (2020 S45),Taux hospitalisation allergie (2020 S45),Taux hospitalisation bronchite (2020 S45),Taux hospitalisation grippe (2020 S45),Taux hospitalisation ORL (2020 S45),Taux hospitalisation pneumopathie (2020 S45)
Code,,,,,,,
01,Ain,4 444,0,2 500,"0,0",0,7 368
02,Aisne,2 222,0,2 500,"0,0",0,6 111
03,Allier,0,0,2 500,"5 000,0",435,8 889
04,Alpes-de-Haute-Provence,4 000,0,1 250,N/A - division par 0,0,7 647
05,Hautes-Alpes,0,0,10 000,"10 000,0",556,10 000
06,Alpes-Maritimes,2 553,1 600,2 000,"0,0",656,7 167
07,Ardèche,3 333,1 429,5 000,"0,0",1 000,8 462
08,Ardennes,0,1 250,0,"3 333,3",556,7 895
09,Ariège,10 000,0,5 000,"0,0",0,4 444
10,Aube,6 000,0,10 000,N/A - division par 0,0,6 667
11,Aude,5 000,1 250,0,N/A - division par 0,500,7 059
12,Aveyron,N/A - division par 0,0,2 500,"0,0",0,5 294
13,Bouches-du-Rhône,3 421,1 176,3 333,"0,0",581,7 938
14,Calvados,2 222,2 000,0,"0,0",323,8 846
15,Cantal,N/A - division par 0,0,10 000,N/A - division par 0,0,10 000
16,Charente,1 667,3 333,0,N/A - division par 0,0,7 143
17,Charente-Maritime,3 077,833,3 333,N/A - division par 0,1 538,8 462
18,Cher,0,5 000,0,N/A - division par 0,0,556
19,Corrèze,2 500,0,N/A - division par 0,N/A - division par 0,0,10 000
21,Côte-d'Or,0,0,2 500,"0,0",909,7 000
22,Côtes-d'Armor,2 000,2 500,N/A - division par 0,N/A - division par 0,769,8 462
23,Creuse,0,0,N/A - division par 0,N/A - division par 0,0,6 000
24,Dordogne,6 667,2 727,0,"0,0",0,6 667
25,Doubs,3 333,4 286,N/A - division par 0,N/A - division par 0,1 818,8 889
26,Drôme,1 667,0,2 500,"5 000,0",263,8 333
27,Eure,0,0,0,"0,0",0,5 000
28,Eure-et-Loir,2 222,1 333,909,"0,0",0,7 200
29,Finistère,3 500,909,2 500,N/A - division par 0,0,5 000
2A,Corse-du-Sud,0,0,4 000,N/A - division par 0,0,10 000
2B,Haute-Corse,0,2 857,2 500,N/A - division par 0,2 000,8 333
...,...,...,...,...,...,...,...
74,Haute-Savoie,2 857,769,0,"0,0",500,8 254
75,Paris,2 353,968,5 000,"0,0",343,8 125
76,Seine-Maritime,976,0,0,"0,0",248,5 172
77,Seine-et-Marne,0,741,1 667,"0,0",1 212,7 727
78,Yvelines,2 500,1 667,1 000,"0,0",133,5 600
79,Deux-Sèvres,4 286,0,0,"10 000,0",2 727,10 000
80,Somme,1 250,0,2 857,"0,0",882,7 500
81,Tarn,0,0,2 857,"0,0",455,7 619
82,Tarn-et-Garonne,6 000,3 333,2 500,N/A - division par 0,0,7 000
83,Var,3 636,1 429,3 333,"0,0",811,9 385
84,Vaucluse,1 765,556,2 000,"0,0",769,8 000
85,Vendée,4 706,0,2 727,"10 000,0",571,7 647
86,Vienne,7 143,0,0,N/A - division par 0,1 154,7 500
87,Haute-Vienne,3 636,1 667,3 750,"1 428,6",952,10 000
88,Vosges,2 500,714,0,"0,0",1 944,6 667
89,Yonne,1 111,0,2 667,"0,0",0,7 368
90,Territoire de Belfort,1 667,0,0,N/A - division par 0,2 000,4 000
91,Essonne,1 304,0,2 500,"500,0",588,5 000
92,Hauts-de-Seine,3 571,588,4 286,"0,0",332,6 774
93,Seine-Saint-Denis,2 500,588,1 333,"1 176,5",249,7 097
94,Val-de-Marne,2 414,222,1 000,"1 666,7",136,6 667
95,Val-d'Oise,1 607,400,952,"0,0",558,7 500
971,Guadeloupe,1 429,0,N/A - division par 0,N/A - division par 0,238,7 500
972,Martinique,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
973,Guyane,4 167,1 000,1 250,"0,0",800,2 308
974,Réunion,3 810,2 143,0,"0,0",189,6 667
975,Miquelon-Langlade et Saint Pierre,N/A - division par 0,0,N/A - division par 0,N/A - division par 0,N/A - division par 0,N/A - division par 0
976,Mayotte,615,0,0,N/A - division par 0,333,3 000
977,Saint-Barthélemy,0,10 000,N/A - division par 0,N/A - division par 0,0,10 000
978,Saint-Martin,0,0,0,N/A - division par 0,0,N/A - division par 0

## Construction de la table COVID-19

In [808]:
data_pk_c_moyen_family = [["//li[@data-pk='covid_cedc']", "//li[@data-pk='covid_sivic']"], ["//li[@data-pk='covid_sivic']"], ["//li[@data-pk='covid_oscour']"]]
data_pk_c_petit_family = [[["//div[@data-pk='covid_cedc_sex_heb.dc_elec_covid_cum']"], ["//div[@data-pk='covid_hospit.hosp']"]], 
                   [["//div[@data-pk='covid_hospit.rea']"]],
                   [["//div[@data-pk='sursaud_corona_quot.nbre_pass_corona']"]]]
par_family = [['hommes et femmes', 'hommes', 'femmes'], ['hommes et femmes', 'hommes', 'femmes'], ['tous âges', 'moins de 15 ans', '15-44 ans', '45-64 ans', '65-74 ans', '75 ans ou plus']]
names = [['Nombre cumulé de décès', 'Nombre cumulé de décès - Hommes', 'Nombre cumulé de décès - Femmes', 'Nombre de personnes hospitalisées', 'Nombre de personnes hospitalisées - Hommes', 'Nombre de personnes hospitalisées - Femmes'],
        ['Nombre de personnes en réanimation', 'Nombre de personnes en réanimation - Hommes', 'Nombre de personnes en réanimation - Femmes'],
        ['Nombre de passages COVID-19 quotidien aux urgences', 'Nombre de passages COVID-19 quotidien aux urgences - moins de 15 ans', 'Nombre de passages COVID-19 quotidien aux urgences - 15-44 ans', 'Nombre de passages COVID-19 quotidien aux urgences - 45-64 ans', 'Nombre de passages COVID-19 quotidien aux urgences - 65-74 ans', 'Nombre de passages COVID-19 quotidien aux urgences - 75 ans ou plus']]

In [809]:
driver = webdriver.Firefox()

driver.get("https://geodes.santepubliquefrance.fr/#c=indicator&view=map2")
time.sleep(5)
    
driver.find_element_by_xpath("//a[@id='tm_table']").click()
time.sleep(2)
    
driver.find_element_by_xpath("//div[@data-pk='patho_c']").click()
time.sleep(2)
    
driver.find_element_by_xpath("//li[@data-pk='covid']").click()
time.sleep(2)

DF = []

for p in range(len(data_pk_c_moyen_family)):
    print(p)
    data_pk_c_moyen = data_pk_c_moyen_family[p]
    data_pk_c_petit = data_pk_c_petit_family[p]
    par = par_family[p]
    for i in range(len(data_pk_c_moyen)):
        ActionChains(driver).move_to_element(driver.find_element_by_xpath(data_pk_c_moyen[i])).click().perform()
        #driver.find_element_by_xpath(data_pk_c_moyen[i]).click()
        time.sleep(2)
        for j in range(len(data_pk_c_petit[i])):
            #zone_gauche = driver.find_element_by_xpath("//div[@class='ui-collapsible-set vertical-scrollable indic-container']")
            driver.execute_script("arguments[0].scrollIntoView();", driver.find_element_by_xpath(data_pk_c_petit[i][j]))
            time.sleep(1)
            #ActionChains(driver).move_to_element(driver.find_element_by_xpath(data_pk_c_petit[i][j])).click().perform()
            driver.find_element_by_xpath(data_pk_c_petit[i][j]).click()
            time.sleep(2)
            for k in range(len(par)):
                driver.execute_script("arguments[0].scrollIntoView();", driver.find_element_by_link_text(par[k]))
                time.sleep(1)
                ActionChains(driver).move_to_element(driver.find_element_by_link_text(par[k])).click().perform()
                #driver.find_element_by_link_text(par[k]).click()
                time.sleep(2)
        zone_retour = driver.find_element_by_xpath("//div[@class='ui-collapset-header mtn mbvs']")
        driver.execute_script("arguments[0].scrollIntoView();", zone_retour.find_element_by_link_text('COVID-19'))
        time.sleep(1)
        ActionChains(driver).move_to_element(zone_retour.find_element_by_link_text('COVID-19')).click().perform()
        time.sleep(2)
        
    L = []
    Table = driver.find_element_by_xpath("//tbody")
    Rows = Table.find_elements_by_xpath("//tr")
    for row in Rows:
        Cells = row.find_elements_by_tag_name('td')
        L.append([cell.text for cell in Cells])
    driver.find_element_by_xpath("//li[@data-pk='covid_cedc']").click()
    time.sleep(2)
    ActionChains(driver).move_to_element(driver.find_element_by_xpath("//span[@class='removeAllItems hide-iframe']")).click().perform()
    time.sleep(2)
    zone_retour = driver.find_element_by_xpath("//div[@class='ui-collapset-header mtn mbvs']")
    ActionChains(driver).move_to_element(zone_retour.find_element_by_link_text('COVID-19')).click().perform()
    time.sleep(2)
    if p == 1:
        data = L[10 : len(L) - 2]
    else:
        data = L[16 : len(L) - 2]
    
    DF.append(pd.DataFrame(data, columns = ['Code', 'Libellé'] + names[p]))

0
1
2

In [810]:
df_covid = DF[0]
df_covid.set_index('Code', inplace = True)
for k in range(1, len(DF)):
    DF[k].drop('Libellé', axis = 1, inplace = True)
    DF[k].set_index('Code',inplace = True)
    df_covid = pd.concat([df_covid, DF[k]], axis = 1, sort = True)
df_covid

,Libellé,Nombre cumulé de décès,Nombre cumulé de décès - Hommes,Nombre cumulé de décès - Femmes,Nombre de personnes hospitalisées,Nombre de personnes hospitalisées - Hommes,Nombre de personnes hospitalisées - Femmes,Nombre de personnes en réanimation,Nombre de personnes en réanimation - Hommes,Nombre de personnes en réanimation - Femmes,Nombre de passages COVID-19 quotidien aux urgences,Nombre de passages COVID-19 quotidien aux urgences - moins de 15 ans,Nombre de passages COVID-19 quotidien aux urgences - 15-44 ans,Nombre de passages COVID-19 quotidien aux urgences - 45-64 ans,Nombre de passages COVID-19 quotidien aux urgences - 65-74 ans,Nombre de passages COVID-19 quotidien aux urgences - 75 ans ou plus
Code,,,,,,,,,,,,,,,,
01,Ain,225,123,102,416,194,219,27,21,6,22,0,4,7,3,8
02,Aisne,69,25,44,252,140,108,35,22,13,14,0,2,6,2,4
03,Allier,139,77,62,239,129,107,27,21,5,15,0,1,6,1,7
04,Alpes-de-Haute-Provence,14,8,6,128,69,59,11,11,0,10,0,2,5,1,2
05,Hautes-Alpes,46,19,27,175,94,79,22,16,6,5,0,2,2,0,1
06,Alpes-Maritimes,272,152,120,457,248,204,78,58,20,22,0,3,8,5,6
07,Ardèche,161,92,69,242,121,119,18,11,7,35,2,17,9,3,4
08,Ardennes,0,0,0,121,64,57,15,10,5,0,0,0,0,0,0
09,Ariège,10,7,3,50,20,29,6,3,3,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
10,Aube,57,33,24,129,70,57,14,11,3,7,0,2,0,1,4
11,Aude,70,32,38,99,49,49,8,6,2,5,0,0,3,0,2
12,Aveyron,11,7,4,149,80,69,9,8,1,1,0,0,1,0,0
13,Bouches-du-Rhône,803,451,352,1 550,820,711,287,207,77,50,1,9,18,7,15
14,Calvados,66,32,34,271,131,138,44,30,13,8,0,4,1,3,0
15,Cantal,18,15,3,51,30,21,15,12,3,4,0,0,0,3,1
16,Charente,29,14,15,52,25,27,11,8,3,3,0,2,0,0,1
17,Charente-Maritime,66,45,21,97,63,34,18,14,4,4,0,1,0,0,3
18,Cher,202,116,86,186,85,101,13,10,3,0,0,0,0,0,0
19,Corrèze,40,29,11,74,29,42,8,5,3,5,0,1,0,1,3
21,Côte-d'Or,91,49,42,361,203,152,61,43,18,8,0,1,1,2,4
22,Côtes-d'Armor,5,1,4,80,49,31,13,7,6,2,0,2,0,0,0
23,Creuse,17,10,7,98,44,54,11,5,6,1,0,0,1,0,0
24,Dordogne,48,28,20,101,49,52,17,11,6,4,0,1,0,1,2
25,Doubs,93,48,45,194,126,67,48,35,13,16,0,4,4,3,5
26,Drôme,182,95,87,396,196,187,59,36,21,40,0,4,12,8,16
27,Eure,84,34,50,211,104,104,11,10,1,3,0,2,0,0,1
28,Eure-et-Loir,12,6,6,224,110,112,21,13,6,14,0,4,2,4,4
29,Finistère,36,22,14,121,57,64,31,20,11,6,0,1,4,0,1
2A,Corse-du-Sud,0,0,0,49,31,18,8,8,0,2,0,0,1,0,1
2B,Haute-Corse,0,0,0,31,20,11,6,5,1,4,0,1,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,Haute-Savoie,309,181,128,651,327,318,77,50,27,96,3,19,28,16,30
75,Paris,1 203,682,521,1 349,754,582,326,238,88,39,0,7,11,9,12
76,Seine-Maritime,210,110,100,611,322,284,82,64,18,29,1,4,5,7,12
77,Seine-et-Marne,491,269,222,575,304,267,118,80,37,16,0,5,6,1,4
78,Yvelines,200,111,89,758,363,388,77,46,30,26,0,13,3,5,5
79,Deux-Sèvres,3,2,1,76,36,39,9,7,2,7,0,0,1,1,5
80,Somme,90,44,46,190,82,100,29,15,13,13,0,3,3,4,3
81,Tarn,90,49,41,150,89,61,27,20,7,5,0,0,2,3,0
82,Tarn-et-Garonne,51,30,21,91,42,49,13,8,5,10,1,3,1,2,3
83,Var,181,99,81,456,217,235,61,41,20,36,1,5,18,5,7
84,Vaucluse,30,21,9,476,233,231,41,27,14,38,0,5,10,8,15
85,Vendée,5,3,2,94,57,37,15,13,2,5,0,1,1,1,2
86,Vienne,72,48,24,156,71,85,20,9,11,5,0,2,0,0,3
87,Haute-Vienne,59,31,28,145,75,70,7,6,1,3,0,1,1,0,1
88,Vosges,170,95,75,220,109,107,21,17,4,11,1,4,1,1,4
89,Yonne,37,19,18,192,102,88,16,14,1,19,1,7,2,3,6
90,Territoire de Belfort,58,34,24,130,71,59,22,17,5,8,0,1,3,1,3
91,Essonne,161,67,94,706,343,337,118,79,38,26,1,10,8,3,4
92,Hauts-de-Seine,1 465,807,658,879,467,406,162,118,44,23,1,8,6,5,3
93,Seine-Saint-Denis,248,140,108,837,461,372,119,78,41,47,2,16,11,3,15
94,Val-de-Marne,821,462,359,979,504,467,142,103,38,24,0,6,5,6,7
95,Val-d'Oise,282,150,132,545,279,258,69,57,11,33,0,10,9,9,5
971,Guadeloupe,22,12,10,129,78,51,13,11,2,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
972,Martinique,43,27,16,76,42,34,14,10,4,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
973,Guyane,0,0,0,13,4,9,0,0,0,2,0,1,0,1,0
974,Réunion,37,17,20,84,43,41,20,9,11,12,1,5,5,0,1
975,Miquelon-Langlade et Saint Pierre,0,0,0,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
976,Mayotte,11,9,2,13,7,6,5,3,2,0,0,0,0,0,N/A - résultat non disponible
977,Saint-Barthélemy,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
978,Saint-Martin,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible

In [814]:
driver.find_element_by_xpath("//li[@data-pk='covid_sidep']").click()
time.sleep(1)

driver.find_element_by_xpath("//div[@data-pk='sp_ti_tp_7j.tx_pos_gliss']").click()
time.sleep(1)

L = []

Table = driver.find_element_by_xpath("//tbody")
Rows = Table.find_elements_by_xpath("//tr")
for row in Rows:
    Cells = row.find_elements_by_tag_name('td')
    L.append([cell.text for cell in Cells])

data = L[5 : len(L) - 2]

df3 = pd.DataFrame(data, columns = ['Code', 'Libellé', 'Taux de posivité - Semaine glissante'])
df3.set_index('Code', inplace = True)

df_covid['Taux de posivité - Semaine glissante'] = df3['Taux de posivité - Semaine glissante']

df_covid

,Libellé,Nombre cumulé de décès,Nombre cumulé de décès - Hommes,Nombre cumulé de décès - Femmes,Nombre de personnes hospitalisées,Nombre de personnes hospitalisées - Hommes,Nombre de personnes hospitalisées - Femmes,Nombre de personnes en réanimation,Nombre de personnes en réanimation - Hommes,Nombre de personnes en réanimation - Femmes,Nombre de passages COVID-19 quotidien aux urgences,Nombre de passages COVID-19 quotidien aux urgences - moins de 15 ans,Nombre de passages COVID-19 quotidien aux urgences - 15-44 ans,Nombre de passages COVID-19 quotidien aux urgences - 45-64 ans,Nombre de passages COVID-19 quotidien aux urgences - 65-74 ans,Nombre de passages COVID-19 quotidien aux urgences - 75 ans ou plus,Taux de posivité - Semaine glissante
Code,,,,,,,,,,,,,,,,,
01,Ain,225,123,102,416,194,219,27,21,6,22,0,4,7,3,8,"26,0"
02,Aisne,69,25,44,252,140,108,35,22,13,14,0,2,6,2,4,"15,6"
03,Allier,139,77,62,239,129,107,27,21,5,15,0,1,6,1,7,"17,5"
04,Alpes-de-Haute-Provence,14,8,6,128,69,59,11,11,0,10,0,2,5,1,2,"20,9"
05,Hautes-Alpes,46,19,27,175,94,79,22,16,6,5,0,2,2,0,1,"27,8"
06,Alpes-Maritimes,272,152,120,457,248,204,78,58,20,22,0,3,8,5,6,"16,6"
07,Ardèche,161,92,69,242,121,119,18,11,7,35,2,17,9,3,4,"20,4"
08,Ardennes,0,0,0,121,64,57,15,10,5,0,0,0,0,0,0,"17,7"
09,Ariège,10,7,3,50,20,29,6,3,3,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,"10,5"
10,Aube,57,33,24,129,70,57,14,11,3,7,0,2,0,1,4,"15,5"
11,Aude,70,32,38,99,49,49,8,6,2,5,0,0,3,0,2,"12,8"
12,Aveyron,11,7,4,149,80,69,9,8,1,1,0,0,1,0,0,"14,8"
13,Bouches-du-Rhône,803,451,352,1 550,820,711,287,207,77,50,1,9,18,7,15,"16,6"
14,Calvados,66,32,34,271,131,138,44,30,13,8,0,4,1,3,0,"12,7"
15,Cantal,18,15,3,51,30,21,15,12,3,4,0,0,0,3,1,"11,6"
16,Charente,29,14,15,52,25,27,11,8,3,3,0,2,0,0,1,"12,1"
17,Charente-Maritime,66,45,21,97,63,34,18,14,4,4,0,1,0,0,3,"7,2"
18,Cher,202,116,86,186,85,101,13,10,3,0,0,0,0,0,0,"17,6"
19,Corrèze,40,29,11,74,29,42,8,5,3,5,0,1,0,1,3,"14,8"
21,Côte-d'Or,91,49,42,361,203,152,61,43,18,8,0,1,1,2,4,"20,7"
22,Côtes-d'Armor,5,1,4,80,49,31,13,7,6,2,0,2,0,0,0,"9,6"
23,Creuse,17,10,7,98,44,54,11,5,6,1,0,0,1,0,0,"16,3"
24,Dordogne,48,28,20,101,49,52,17,11,6,4,0,1,0,1,2,"11,8"
25,Doubs,93,48,45,194,126,67,48,35,13,16,0,4,4,3,5,"22,6"
26,Drôme,182,95,87,396,196,187,59,36,21,40,0,4,12,8,16,"19,5"
27,Eure,84,34,50,211,104,104,11,10,1,3,0,2,0,0,1,"16,8"
28,Eure-et-Loir,12,6,6,224,110,112,21,13,6,14,0,4,2,4,4,"16,6"
29,Finistère,36,22,14,121,57,64,31,20,11,6,0,1,4,0,1,"7,7"
2A,Corse-du-Sud,0,0,0,49,31,18,8,8,0,2,0,0,1,0,1,"9,7"
2B,Haute-Corse,0,0,0,31,20,11,6,5,1,4,0,1,0,1,2,"8,1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,Haute-Savoie,309,181,128,651,327,318,77,50,27,96,3,19,28,16,30,"30,6"
75,Paris,1 203,682,521,1 349,754,582,326,238,88,39,0,7,11,9,12,"14,9"
76,Seine-Maritime,210,110,100,611,322,284,82,64,18,29,1,4,5,7,12,"15,9"
77,Seine-et-Marne,491,269,222,575,304,267,118,80,37,16,0,5,6,1,4,"20,4"
78,Yvelines,200,111,89,758,363,388,77,46,30,26,0,13,3,5,5,"18,6"
79,Deux-Sèvres,3,2,1,76,36,39,9,7,2,7,0,0,1,1,5,"11,3"
80,Somme,90,44,46,190,82,100,29,15,13,13,0,3,3,4,3,"13,0"
81,Tarn,90,49,41,150,89,61,27,20,7,5,0,0,2,3,0,"16,9"
82,Tarn-et-Garonne,51,30,21,91,42,49,13,8,5,10,1,3,1,2,3,"17,4"
83,Var,181,99,81,456,217,235,61,41,20,36,1,5,18,5,7,"15,5"
84,Vaucluse,30,21,9,476,233,231,41,27,14,38,0,5,10,8,15,"21,5"
85,Vendée,5,3,2,94,57,37,15,13,2,5,0,1,1,1,2,"12,3"
86,Vienne,72,48,24,156,71,85,20,9,11,5,0,2,0,0,3,"12,3"
87,Haute-Vienne,59,31,28,145,75,70,7,6,1,3,0,1,1,0,1,"13,9"
88,Vosges,170,95,75,220,109,107,21,17,4,11,1,4,1,1,4,"17,3"
89,Yonne,37,19,18,192,102,88,16,14,1,19,1,7,2,3,6,"19,7"
90,Territoire de Belfort,58,34,24,130,71,59,22,17,5,8,0,1,3,1,3,"18,5"
91,Essonne,161,67,94,706,343,337,118,79,38,26,1,10,8,3,4,"18,0"
92,Hauts-de-Seine,1 465,807,658,879,467,406,162,118,44,23,1,8,6,5,3,"16,9"
93,Seine-Saint-Denis,248,140,108,837,461,372,119,78,41,47,2,16,11,3,15,"21,4"
94,Val-de-Marne,821,462,359,979,504,467,142,103,38,24,0,6,5,6,7,"18,5"
95,Val-d'Oise,282,150,132,545,279,258,69,57,11,33,0,10,9,9,5,"20,1"
971,Guadeloupe,22,12,10,129,78,51,13,11,2,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,"9,3"
972,Martinique,43,27,16,76,42,34,14,10,4,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,"12,8"
973,Guyane,0,0,0,13,4,9,0,0,0,2,0,1,0,1,0,"7,3"
974,Réunion,37,17,20,84,43,41,20,9,11,12,1,5,5,0,1,"6,3"
975,Miquelon-Langlade et Saint Pierre,0,0,0,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,"0,0"
976,Mayotte,11,9,2,13,7,6,5,3,2,0,0,0,0,0,N/A - résultat non disponible,"14,3"
977,Saint-Barthélemy,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,"4,7"
978,Saint-Martin,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,"18,6"

# Petit tableau en plus (par région)

In [838]:
balises = ['pression', 'Nombre moyen de mesures', 'port du masque']

In [840]:
driver = webdriver.Firefox()

driver.get("https://geodes.santepubliquefrance.fr/#c=indicator&view=map1")
time.sleep(5)
    
driver.find_element_by_xpath("//a[@id='tm_table']").click()
time.sleep(2)

driver.find_element_by_xpath("//div[@data-pk='patho_d']").click()
time.sleep(2)

driver.find_element_by_xpath("//li[@data-pk='depres_anx']").click()
time.sleep(2)

driver.find_element_by_xpath("//div[@data-pk='bs_edc.edc_v100']").click()
time.sleep(2)

driver.find_element_by_link_text('hommes et femmes').click()
time.sleep(2)

zone_retour = driver.find_element_by_xpath("//div[@class='ui-collapset-header mtn mbvs']")
driver.execute_script("arguments[0].scrollIntoView();", zone_retour.find_element_by_link_text('D'))
time.sleep(1)
ActionChains(driver).move_to_element(zone_retour.find_element_by_link_text('D')).click().perform()
time.sleep(2)
    
driver.find_element_by_xpath("//div[@data-pk='patho_c']").click()
time.sleep(2)
    
driver.find_element_by_xpath("//li[@data-pk='covid']").click()
time.sleep(2)

driver.find_element_by_xpath("//li[@data-pk='covid_coviprev']").click()
time.sleep(2)

for k in range(len(pk)):
    ActionChains(driver).move_to_element(driver.find_element_by_partial_link_text(balises[k])).click().perform()
    time.sleep(2)

In [845]:
L = []

Table = driver.find_element_by_xpath("//tbody")
Rows = Table.find_elements_by_xpath("//tr")
for row in Rows:
    Cells = row.find_elements_by_tag_name('td')
    L.append([cell.text for cell in Cells])

data = L[12 : len(L) - 2]

In [847]:
df_region = pd.DataFrame(data, columns = ['Code', 'Libellé', 'Dépression (2017)', 'Dépression (COVID-19)', "Nombre moyen de mesures d'hygiène adoptées (parmi 4)", 'Adoption du port du masque'])
df_region.set_index('Code', inplace = True)
df_region

,Libellé,Dépression (2017),Dépression (COVID-19),Nombre moyen de mesures d'hygiène adoptées (parmi 4),Adoption du port du masque
Code,,,,,
01,Guadeloupe,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
02,Martinique,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
03,Guyane,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
04,Réunion,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
06,Mayotte,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
11,Île-de-France,8,"20,2","2,6","80,2"
24,Centre-Val de Loire,10,"12,3","2,7","79,5"
27,Bourgogne et Franche-Comté,9,"10,9","2,5","74,7"
28,Normandie,9,"16,7","2,7","79,4"
32,Hauts-de-France,11,"18,9","2,7","83,7"
44,Grand Est,10,"14,0","2,7","78,0"
52,Pays de la Loire,9,"8,2","2,6","76,7"
53,Bretagne,7,"17,1","2,7","81,6"
75,Nouvelle Aquitaine,10,"13,8","2,7","78,1"
76,Occitanie,12,"18,5","2,4","74,4"
84,Auvergne et Rhône-Alpes,9,"13,3","2,8","82,0"
93,Provence-Alpes-Côte d'Azur,12,"12,3","2,7","73,9"
94,Corse,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
975,Miquelon-Langlade et Saint Pierre,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
977,Saint-Barthélemy,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible
978,Saint-Martin,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible

## Données INSEE

Estimation de la population (2020)
Surface des départements pour avoir une densité de population
Taux brut de mortalité (2019)
Taille moyenne des ménages (2017)
Taux de pauvreté (2017)
Part des résidences principales suroccupées (2016)
Part postes du commerce, transport et services marchands (2015)
Moyen de transport utilisé pour se rendre au travail - transport en commun (2017)
Flux domicile - lieu de travail (2017) mais c'est compliqué parce qu'il y a le département de départ et celui d'arrivée
Vente de cigarettes par habitant de 15 à 74 ans (2013) https://odicer.ofdt.fr/mobile.php#ficindic

In [321]:
onglet = ['MOGRAPHIE', 'CONSOMMATION', 'CONDITIONS', 'ENTREPRISES']
data_pk_gros = ["//div[@data-pk='demo_d']", "//div[@data-pk='revenus_d']", "//div[@data-pk='vie_societe_d']", "//div[@data-pk='entreprise_d']"]
data_pk_moyen = [["//li[@data-pk='evo_stru_pop']", "//li[@data-pk='deces']", "//li[@data-pk='couples']"], ["//li[@data-pk='pauv_prec']"], ["//li[@data-pk='log']"], ["//li[@data-pk='carac_entrp']"]]
data_pk_petit = [[["//div[@data-pk='tcrd021.estim_pop_ensemble']"], ["//div[@data-pk='tcrd048.txbrut_mort']"], ["//div[@data-pk='bdcom.taille_menage']"]],
                 [["//div[@data-pk='filosofi.tp60']"]],
                 [["//div[@data-pk='suroccupation.suroccup']"]],
                 [["//div[@data-pk='clap.pt_etpgu_dans_etptot']"]]]

In [322]:
driver.get('https://statistiques-locales.insee.fr/#c=indicator&view=map2')
time.sleep(5)

driver.find_element_by_xpath("//a[@id='tm_table']").click()
time.sleep(1)

for i in range(len(data_pk_gros)):
    driver.find_element_by_xpath(data_pk_gros[i]).click()
    time.sleep(1)
    for j in range(len(data_pk_moyen[i])):
        driver.find_element_by_xpath(data_pk_moyen[i][j]).click()
        time.sleep(1)
        for k in range(len(data_pk_petit[i][j])):
            driver.find_element_by_xpath(data_pk_petit[i][j][k]).click()
            time.sleep(1)
        zone_retour = driver.find_element_by_xpath("//div[@class='ui-collapset-header mtn mbvs']")
        zone_retour.find_element_by_partial_link_text(onglet[i]).click()

In [323]:
# On récupère le tableau

L = []

Table = driver.find_element_by_xpath("//tbody")
Rows = Table.find_elements_by_xpath("//tr")
for row in Rows:
    Cells = row.find_elements_by_tag_name('td')
    L.append([cell.text for cell in Cells])

data = L[16 : len(L) - 2]

In [324]:
df = pd.DataFrame(data, columns = ['Code', 'Libellé', 'Estimation de la population (2020)', 'Taux brut de mortalité (2019)', 'Taille moyenne des ménages (2017)', 'Taux de pauvreté (2017)', 'Part des résidences principales suroccupées (2016)', 'Part postes du commerce, transport et services marchands (2015)'])
df.set_index('Code', inplace=True)
df

,Libellé,Estimation de la population (2020),Taux brut de mortalité (2019),Taille moyenne des ménages (2017),Taux de pauvreté (2017),Part des résidences principales suroccupées (2016),"Part postes du commerce, transport et services marchands (2015)"
Code,,,,,,,
01,Ain,656 955,"7,6","2,3","10,5","2,4","37,3"
02,Aisne,526 050,"11,1","2,3","18,5","2,4","34,9"
03,Allier,331 315,"13,6","2,0","15,4","1,6","36,0"
04,Alpes-de-Haute-Provence,165 197,"11,9","2,1","16,6","3,1","39,2"
05,Hautes-Alpes,141 756,"10,4","2,1","13,9","2,8","46,4"
06,Alpes-Maritimes,1 079 396,"11,0","2,1","15,5","11,7","52,5"
07,Ardèche,326 875,"11,6","2,2","14,3","1,9","29,9"
08,Ardennes,265 531,"11,1","2,2","18,9","1,5","31,0"
09,Ariège,152 398,"12,9","2,1","18,4","2,2","32,3"
10,Aube,309 907,"10,8","2,1","16,3","2,9","39,6"
11,Aude,372 705,"11,5","2,1","20,8","2,6","39,9"
12,Aveyron,278 360,"12,5","2,1","13,9","1,6","36,6"
13,Bouches-du-Rhône,2 034 469,"9,0","2,2","18,2","7,6","49,3"
14,Calvados,691 453,"10,3","2,2","12,3","2,5","42,8"
15,Cantal,142 811,"14,3","2,0","13,2","1,1","34,1"
16,Charente,348 180,"12,5","2,1","14,9","1,5","35,2"
17,Charente-Maritime,647 080,"12,3","2,1","13,0","1,9","40,5"
18,Cher,296 404,"13,1","2,1","14,7","2,0","36,4"
19,Corrèze,240 336,"13,8","2,0","12,9","1,6","36,8"
21,Côte-d'Or,532 886,"9,3","2,1","11,3","2,6","42,3"
22,Côtes-d'Armor,596 186,"12,9","2,1","11,8","1,3","37,8"
23,Creuse,116 270,"16,7","2,0","18,2","1,6","30,2"
24,Dordogne,408 393,"13,7","2,1","16,3","1,8","35,7"
25,Doubs,539 449,"8,7","2,2","11,9","2,3","35,5"
26,Drôme,520 560,"9,7","2,2","14,7","2,3","40,7"
27,Eure,600 687,"9,4","2,3","12,5","3,0","35,6"
28,Eure-et-Loir,429 425,"9,9","2,3","12,4","3,2","39,1"
29,Finistère,906 554,"11,3","2,1","10,6","1,2","40,0"
2A,Corse-du-Sud,162 421,"9,5","2,3","16,5","6,3","42,6"
2B,Haute-Corse,182 258,"9,5","2,2","20,6","5,9","44,0"
...,...,...,...,...,...,...,...
71,Saône-et-Loire,547 824,"12,3","2,1","12,9","1,7","37,1"
72,Sarthe,560 227,"10,0","2,2","13,0","1,9","38,5"
73,Savoie,432 548,"9,0","2,2","9,8","3,3","50,5"
74,Haute-Savoie,828 405,"6,8","2,2","9,1","4,5","45,5"
75,Paris,2 148 271,"6,4","1,9","15,2","15,9","69,6"
76,Seine-Maritime,1 243 788,"9,8","2,2","14,5","2,9","40,8"
77,Seine-et-Marne,1 423 607,"6,4","2,5","11,6","7,5","51,5"
78,Yvelines,1 448 625,"6,4","2,4","9,4","7,3","48,9"
79,Deux-Sèvres,372 627,"10,6","2,2","12,3","1,1","43,1"
80,Somme,569 769,"10,5","2,2","16,6","3,1","35,7"
81,Tarn,387 898,"11,5","2,1","15,2","1,6","36,2"
82,Tarn-et-Garonne,262 618,"10,3","2,3","16,8","2,6","39,2"
83,Var,1 073 836,"11,4","2,1","15,4","6,1","45,5"
84,Vaucluse,560 997,"10,2","2,2","19,5","4,2","45,4"
85,Vendée,683 187,"10,7","2,2","9,3","1,2","36,8"
86,Vienne,437 398,"10,2","2,1","14,0","2,1","37,8"
87,Haute-Vienne,370 774,"11,6","2,0","15,1","2,2","38,0"
88,Vosges,359 520,"11,9","2,1","15,4","1,6","33,0"
89,Yonne,332 096,"13,1","2,1","14,4","2,7","37,1"
90,Territoire de Belfort,140 145,"9,7","2,2","14,2","2,2","39,9"
91,Essonne,1 319 401,"6,1","2,5","12,7","8,7","52,1"
92,Hauts-de-Seine,1 613 762,"6,2","2,2","11,8","13,0","69,4"
93,Seine-Saint-Denis,1 670 149,"5,4","2,5","27,9","20,6","56,3"
94,Val-de-Marne,1 406 041,"6,2","2,3","16,3","13,7","55,5"
95,Val-d'Oise,1 248 354,"6,0","2,6","16,6","11,3","50,2"
971,Guadeloupe,376 879,"8,9","2,2",N/A - résultat non disponible,"8,7","39,8"
972,Martinique,358 749,"9,6","2,2","28,6","9,0","40,8"
973,Guyane,290 691,"3,5","3,3",N/A - résultat non disponible,"34,5","33,0"
974,La Réunion,859 959,"5,6","2,6","38,3","10,4","39,4"
976,Mayotte,279 471,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible

In [325]:
driver.find_element_by_xpath("//span[@class='removeAllItems hide-iframe']").click()
time.sleep(1)

# On clique sur l'onglet démographie
driver.find_element_by_xpath("//div[@data-pk='terr_d']").click()
time.sleep(1)

# Puis sur évolution et structure de la population
driver.find_element_by_xpath("//li[@data-pk='mobilites']").click()
time.sleep(1)

# Et enfin sur estimations de population, 2020
driver.find_element_by_xpath("//div[@data-pk='rp.rep_actocc15p_mode_transp']").click()
time.sleep(1)

Table = driver.find_element_by_xpath("//tbody")
Row = Table.find_element_by_xpath("//tr")
Cells = Row.find_elements_by_xpath("//td[8]")
data1 = [cell.text for cell in Cells]

In [326]:
df['Moyen de transport utilisé pour se rendre au travail - transport en commun (2017)'] = data1
df

,Libellé,Estimation de la population (2020),Taux brut de mortalité (2019),Taille moyenne des ménages (2017),Taux de pauvreté (2017),Part des résidences principales suroccupées (2016),"Part postes du commerce, transport et services marchands (2015)",Moyen de transport utilisé pour se rendre au travail - transport en commun (2017)
Code,,,,,,,,
01,Ain,656 955,"7,6","2,3","10,5","2,4","37,3",17 816
02,Aisne,526 050,"11,1","2,3","18,5","2,4","34,9",10 400
03,Allier,331 315,"13,6","2,0","15,4","1,6","36,0",3 757
04,Alpes-de-Haute-Provence,165 197,"11,9","2,1","16,6","3,1","39,2",1 747
05,Hautes-Alpes,141 756,"10,4","2,1","13,9","2,8","46,4",2 175
06,Alpes-Maritimes,1 079 396,"11,0","2,1","15,5","11,7","52,5",57 801
07,Ardèche,326 875,"11,6","2,2","14,3","1,9","29,9",2 892
08,Ardennes,265 531,"11,1","2,2","18,9","1,5","31,0",2 918
09,Ariège,152 398,"12,9","2,1","18,4","2,2","32,3",1 283
10,Aube,309 907,"10,8","2,1","16,3","2,9","39,6",5 319
11,Aude,372 705,"11,5","2,1","20,8","2,6","39,9",3 465
12,Aveyron,278 360,"12,5","2,1","13,9","1,6","36,6",1 848
13,Bouches-du-Rhône,2 034 469,"9,0","2,2","18,2","7,6","49,3",112 105
14,Calvados,691 453,"10,3","2,2","12,3","2,5","42,8",15 258
15,Cantal,142 811,"14,3","2,0","13,2","1,1","34,1",869
16,Charente,348 180,"12,5","2,1","14,9","1,5","35,2",4 248
17,Charente-Maritime,647 080,"12,3","2,1","13,0","1,9","40,5",7 617
18,Cher,296 404,"13,1","2,1","14,7","2,0","36,4",3 889
19,Corrèze,240 336,"13,8","2,0","12,9","1,6","36,8",1 911
21,Côte-d'Or,532 886,"9,3","2,1","11,3","2,6","42,3",24 584
22,Côtes-d'Armor,596 186,"12,9","2,1","11,8","1,3","37,8",5 434
23,Creuse,116 270,"16,7","2,0","18,2","1,6","30,2",685
24,Dordogne,408 393,"13,7","2,1","16,3","1,8","35,7",2 920
25,Doubs,539 449,"8,7","2,2","11,9","2,3","35,5",14 379
26,Drôme,520 560,"9,7","2,2","14,7","2,3","40,7",8 326
27,Eure,600 687,"9,4","2,3","12,5","3,0","35,6",14 005
28,Eure-et-Loir,429 425,"9,9","2,3","12,4","3,2","39,1",17 062
29,Finistère,906 554,"11,3","2,1","10,6","1,2","40,0",17 052
2A,Corse-du-Sud,162 421,"9,5","2,3","16,5","6,3","42,6",1 743
2B,Haute-Corse,182 258,"9,5","2,2","20,6","5,9","44,0",1 495
...,...,...,...,...,...,...,...,...
71,Saône-et-Loire,547 824,"12,3","2,1","12,9","1,7","37,1",6 696
72,Sarthe,560 227,"10,0","2,2","13,0","1,9","38,5",15 673
73,Savoie,432 548,"9,0","2,2","9,8","3,3","50,5",11 661
74,Haute-Savoie,828 405,"6,8","2,2","9,1","4,5","45,5",24 845
75,Paris,2 148 271,"6,4","1,9","15,2","15,9","69,6",697 877
76,Seine-Maritime,1 243 788,"9,8","2,2","14,5","2,9","40,8",49 400
77,Seine-et-Marne,1 423 607,"6,4","2,5","11,6","7,5","51,5",166 880
78,Yvelines,1 448 625,"6,4","2,4","9,4","7,3","48,9",201 209
79,Deux-Sèvres,372 627,"10,6","2,2","12,3","1,1","43,1",3 439
80,Somme,569 769,"10,5","2,2","16,6","3,1","35,7",13 850
81,Tarn,387 898,"11,5","2,1","15,2","1,6","36,2",4 611
82,Tarn-et-Garonne,262 618,"10,3","2,3","16,8","2,6","39,2",2 763
83,Var,1 073 836,"11,4","2,1","15,4","6,1","45,5",21 551
84,Vaucluse,560 997,"10,2","2,2","19,5","4,2","45,4",7 661
85,Vendée,683 187,"10,7","2,2","9,3","1,2","36,8",4 311
86,Vienne,437 398,"10,2","2,1","14,0","2,1","37,8",8 064
87,Haute-Vienne,370 774,"11,6","2,0","15,1","2,2","38,0",6 963
88,Vosges,359 520,"11,9","2,1","15,4","1,6","33,0",3 434
89,Yonne,332 096,"13,1","2,1","14,4","2,7","37,1",6 746
90,Territoire de Belfort,140 145,"9,7","2,2","14,2","2,2","39,9",4 256
91,Essonne,1 319 401,"6,1","2,5","12,7","8,7","52,1",160 944
92,Hauts-de-Seine,1 613 762,"6,2","2,2","11,8","13,0","69,4",358 595
93,Seine-Saint-Denis,1 670 149,"5,4","2,5","27,9","20,6","56,3",333 107
94,Val-de-Marne,1 406 041,"6,2","2,3","16,3","13,7","55,5",292 709
95,Val-d'Oise,1 248 354,"6,0","2,6","16,6","11,3","50,2",187 635
971,Guadeloupe,376 879,"8,9","2,2",N/A - résultat non disponible,"8,7","39,8",7 395
972,Martinique,358 749,"9,6","2,2","28,6","9,0","40,8",10 789
973,Guyane,290 691,"3,5","3,3",N/A - résultat non disponible,"34,5","33,0",2 074
974,La Réunion,859 959,"5,6","2,6","38,3","10,4","39,4",15 048
976,Mayotte,279 471,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A

In [327]:
driver = webdriver.Firefox()

driver.get('https://odicer.ofdt.fr/mobile.php#ficindic')
time.sleep(5)

driver.find_element_by_xpath("//li[@id='mr003']").click()
time.sleep(3)

driver.find_element_by_xpath("//li[@id='iliad.tx_cig']").click()
time.sleep(3)

driver.find_element_by_xpath("//a[@id='tableNivgeo_lk']").click()
time.sleep(1)

driver.find_element_by_xpath("//li[@data-nivgeo='dep']").click()
time.sleep(1)

In [328]:
L = []
Table = driver.find_element_by_xpath("//div[@id='fincIndicBlocD']")
Rows = Table.find_elements_by_tag_name('g')
for row in Rows:
    Cells = row.find_elements_by_tag_name('text')
    for cell in Cells:
        L.append(cell.text)
        
data2 = L[44:]

In [329]:
df2 = pd.DataFrame()
df2['Département'] = [data2[2 * i] for i in range(len(data2) // 2)]
df2 = pd.DataFrame(df2['Département'].str.split(' - ',1).tolist(), columns = ['Code', 'Libellé'])
df2['Vente de cigarettes par habitant de 15 à 74 ans (2013)'] = [data2[2 * i + 1] for i in range(len(data2) // 2)]

# On retire les lignes identiques
df2.drop_duplicates(inplace = True)

# On retire la colonne Libellé car on l'a déjà dans df
df2.drop('Libellé', axis = 1, inplace = True)

# On retire les dernières car elles sont vides et leur code est difficile à gérer
df2.drop([188, 190, 192, 194, 196, 198, 200], inplace = True)

# On remet les codes dans l'ordre
df2['Code'].astype('int')
df2.sort_values(by = 'Code', inplace = True)

df2.set_index('Code', inplace = True)

df2

     Vente de cigarettes par habitant de 15 à 74 ans (2013)
Code
01                                              1 003,9
02                                                846,9
03                                              1 117,6
04                                              1 349,8
05                                              1 153,7
06                                              1 413,8
07                                              1 019,3
08                                                498,2
09                                                653,4
10                                              1 074,4
11                                              1 032,8
12                                                982,1
13                                              1 402,0
14                                              1 192,0
15                                              1 172,6
16                                              1 071,9
17                                              1 270,5
18                                              1 138,9
19                                              1 198,1
21                                              1 064,7
22                                              1 140,2
23                                              1 080,0
24                                              1 121,9
25                                              1 017,4
26                                              1 120,7
27                                              1 199,2
28                                              1 099,3
29                                              1 224,7
30                                              1 219,0
31                                                864,7
...                                                 ...
66                                                689,2
67                                                696,2
68                                                778,3
69                                              1 100,7
70                                                910,9
71                                              1 040,3
72                                                938,9
73                                              1 214,1
74                                              1 131,6
75                                              1 588,3
76                                              1 161,5
77                                              1 089,2
78                                              1 008,9
79                                                914,1
80                                                987,0
81                                                903,0
82                                              1 104,3
83                                              1 606,1
84                                              1 361,2
85                                                972,1
86                                                975,8
87                                              1 046,9
88                                                816,0
89                                              1 191,0
90                                                889,4
91                                              1 019,9
92                                                996,5
93                                              1 025,6
94                                                998,7
95                                              1 035,3

[94 rows x 1 columns]

In [330]:
df['Vente de cigarettes par habitant de 15 à 74 ans (2013)'] = df2['Vente de cigarettes par habitant de 15 à 74 ans (2013)']
df

,Libellé,Estimation de la population (2020),Taux brut de mortalité (2019),Taille moyenne des ménages (2017),Taux de pauvreté (2017),Part des résidences principales suroccupées (2016),"Part postes du commerce, transport et services marchands (2015)",Moyen de transport utilisé pour se rendre au travail - transport en commun (2017),Vente de cigarettes par habitant de 15 à 74 ans (2013)
Code,,,,,,,,,
01,Ain,656 955,"7,6","2,3","10,5","2,4","37,3",17 816,"1 003,9"
02,Aisne,526 050,"11,1","2,3","18,5","2,4","34,9",10 400,"846,9"
03,Allier,331 315,"13,6","2,0","15,4","1,6","36,0",3 757,"1 117,6"
04,Alpes-de-Haute-Provence,165 197,"11,9","2,1","16,6","3,1","39,2",1 747,"1 349,8"
05,Hautes-Alpes,141 756,"10,4","2,1","13,9","2,8","46,4",2 175,"1 153,7"
06,Alpes-Maritimes,1 079 396,"11,0","2,1","15,5","11,7","52,5",57 801,"1 413,8"
07,Ardèche,326 875,"11,6","2,2","14,3","1,9","29,9",2 892,"1 019,3"
08,Ardennes,265 531,"11,1","2,2","18,9","1,5","31,0",2 918,"498,2"
09,Ariège,152 398,"12,9","2,1","18,4","2,2","32,3",1 283,"653,4"
10,Aube,309 907,"10,8","2,1","16,3","2,9","39,6",5 319,"1 074,4"
11,Aude,372 705,"11,5","2,1","20,8","2,6","39,9",3 465,"1 032,8"
12,Aveyron,278 360,"12,5","2,1","13,9","1,6","36,6",1 848,"982,1"
13,Bouches-du-Rhône,2 034 469,"9,0","2,2","18,2","7,6","49,3",112 105,"1 402,0"
14,Calvados,691 453,"10,3","2,2","12,3","2,5","42,8",15 258,"1 192,0"
15,Cantal,142 811,"14,3","2,0","13,2","1,1","34,1",869,"1 172,6"
16,Charente,348 180,"12,5","2,1","14,9","1,5","35,2",4 248,"1 071,9"
17,Charente-Maritime,647 080,"12,3","2,1","13,0","1,9","40,5",7 617,"1 270,5"
18,Cher,296 404,"13,1","2,1","14,7","2,0","36,4",3 889,"1 138,9"
19,Corrèze,240 336,"13,8","2,0","12,9","1,6","36,8",1 911,"1 198,1"
21,Côte-d'Or,532 886,"9,3","2,1","11,3","2,6","42,3",24 584,"1 064,7"
22,Côtes-d'Armor,596 186,"12,9","2,1","11,8","1,3","37,8",5 434,"1 140,2"
23,Creuse,116 270,"16,7","2,0","18,2","1,6","30,2",685,"1 080,0"
24,Dordogne,408 393,"13,7","2,1","16,3","1,8","35,7",2 920,"1 121,9"
25,Doubs,539 449,"8,7","2,2","11,9","2,3","35,5",14 379,"1 017,4"
26,Drôme,520 560,"9,7","2,2","14,7","2,3","40,7",8 326,"1 120,7"
27,Eure,600 687,"9,4","2,3","12,5","3,0","35,6",14 005,"1 199,2"
28,Eure-et-Loir,429 425,"9,9","2,3","12,4","3,2","39,1",17 062,"1 099,3"
29,Finistère,906 554,"11,3","2,1","10,6","1,2","40,0",17 052,"1 224,7"
2A,Corse-du-Sud,162 421,"9,5","2,3","16,5","6,3","42,6",1 743,NaN
2B,Haute-Corse,182 258,"9,5","2,2","20,6","5,9","44,0",1 495,NaN
...,...,...,...,...,...,...,...,...,...
71,Saône-et-Loire,547 824,"12,3","2,1","12,9","1,7","37,1",6 696,"1 040,3"
72,Sarthe,560 227,"10,0","2,2","13,0","1,9","38,5",15 673,"938,9"
73,Savoie,432 548,"9,0","2,2","9,8","3,3","50,5",11 661,"1 214,1"
74,Haute-Savoie,828 405,"6,8","2,2","9,1","4,5","45,5",24 845,"1 131,6"
75,Paris,2 148 271,"6,4","1,9","15,2","15,9","69,6",697 877,"1 588,3"
76,Seine-Maritime,1 243 788,"9,8","2,2","14,5","2,9","40,8",49 400,"1 161,5"
77,Seine-et-Marne,1 423 607,"6,4","2,5","11,6","7,5","51,5",166 880,"1 089,2"
78,Yvelines,1 448 625,"6,4","2,4","9,4","7,3","48,9",201 209,"1 008,9"
79,Deux-Sèvres,372 627,"10,6","2,2","12,3","1,1","43,1",3 439,"914,1"
80,Somme,569 769,"10,5","2,2","16,6","3,1","35,7",13 850,"987,0"
81,Tarn,387 898,"11,5","2,1","15,2","1,6","36,2",4 611,"903,0"
82,Tarn-et-Garonne,262 618,"10,3","2,3","16,8","2,6","39,2",2 763,"1 104,3"
83,Var,1 073 836,"11,4","2,1","15,4","6,1","45,5",21 551,"1 606,1"
84,Vaucluse,560 997,"10,2","2,2","19,5","4,2","45,4",7 661,"1 361,2"
85,Vendée,683 187,"10,7","2,2","9,3","1,2","36,8",4 311,"972,1"
86,Vienne,437 398,"10,2","2,1","14,0","2,1","37,8",8 064,"975,8"
87,Haute-Vienne,370 774,"11,6","2,0","15,1","2,2","38,0",6 963,"1 046,9"
88,Vosges,359 520,"11,9","2,1","15,4","1,6","33,0",3 434,"816,0"
89,Yonne,332 096,"13,1","2,1","14,4","2,7","37,1",6 746,"1 191,0"
90,Territoire de Belfort,140 145,"9,7","2,2","14,2","2,2","39,9",4 256,"889,4"
91,Essonne,1 319 401,"6,1","2,5","12,7","8,7","52,1",160 944,"1 019,9"
92,Hauts-de-Seine,1 613 762,"6,2","2,2","11,8","13,0","69,4",358 595,"996,5"
93,Seine-Saint-Denis,1 670 149,"5,4","2,5","27,9","20,6","56,3",333 107,"1 025,6"
94,Val-de-Marne,1 406 041,"6,2","2,3","16,3","13,7","55,5",292 709,"998,7"
95,Val-d'Oise,1 248 354,"6,0","2,6","16,6","11,3","50,2",187 635,"1 035,3"
971,Guadeloupe,376 879,"8,9","2,2",N/A - résultat non disponible,"8,7","39,8",7 395,NaN
972,Martinique,358 749,"9,6","2,2","28,6","9,0","40,8",10 789,NaN
973,Guyane,290 691,"3,5","3,3",N/A - résultat non disponible,"34,5","33,0",2 074,NaN
974,La Réunion,859 959,"5,6","2,6","38,3","10,4","39,4",15 048,NaN
976,Mayotte,279 471,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A,NaN

In [333]:
driver = webdriver.Firefox()

driver.get('https://fr.wikipedia.org/wiki/Superficie_des_d%C3%A9partements_fran%C3%A7ais')
time.sleep(1)

In [334]:
Table = driver.find_element_by_xpath("//tbody")
Row = Table.find_element_by_xpath("//tr")
Cells = Row.find_elements_by_xpath("//td[7]")
Res = [cell.text for cell in Cells]

In [339]:
# Il faut replacer la Corse
temp = Res[1: 20] + Res[21: 30]
temp.append(Res[20])
temp.append('4 666Insee 21')
data3 = temp + Res[30: len(Res)]

# Il manque Mayotte
data3.append('')

len(data3)

101

In [342]:
df3 = pd.DataFrame(data3, columns = ['Superficie'])
df3 = pd.DataFrame(df3['Superficie'].str.split('Insee ',1).tolist(), columns = ['Superficie', 'Chiffres'])
df3.index = df.index

df['Superficie'] = df3['Superficie']
df

,Libellé,Estimation de la population (2020),Taux brut de mortalité (2019),Taille moyenne des ménages (2017),Taux de pauvreté (2017),Part des résidences principales suroccupées (2016),"Part postes du commerce, transport et services marchands (2015)",Moyen de transport utilisé pour se rendre au travail - transport en commun (2017),Vente de cigarettes par habitant de 15 à 74 ans (2013),Superficie
Code,,,,,,,,,,
01,Ain,656 955,"7,6","2,3","10,5","2,4","37,3",17 816,"1 003,9",5 762
02,Aisne,526 050,"11,1","2,3","18,5","2,4","34,9",10 400,"846,9",7 362
03,Allier,331 315,"13,6","2,0","15,4","1,6","36,0",3 757,"1 117,6",7 340
04,Alpes-de-Haute-Provence,165 197,"11,9","2,1","16,6","3,1","39,2",1 747,"1 349,8",6 925
05,Hautes-Alpes,141 756,"10,4","2,1","13,9","2,8","46,4",2 175,"1 153,7",5 549
06,Alpes-Maritimes,1 079 396,"11,0","2,1","15,5","11,7","52,5",57 801,"1 413,8",4 299
07,Ardèche,326 875,"11,6","2,2","14,3","1,9","29,9",2 892,"1 019,3",5 529
08,Ardennes,265 531,"11,1","2,2","18,9","1,5","31,0",2 918,"498,2",5 229
09,Ariège,152 398,"12,9","2,1","18,4","2,2","32,3",1 283,"653,4",4 890
10,Aube,309 907,"10,8","2,1","16,3","2,9","39,6",5 319,"1 074,4",6 004
11,Aude,372 705,"11,5","2,1","20,8","2,6","39,9",3 465,"1 032,8",6 139
12,Aveyron,278 360,"12,5","2,1","13,9","1,6","36,6",1 848,"982,1",8 735
13,Bouches-du-Rhône,2 034 469,"9,0","2,2","18,2","7,6","49,3",112 105,"1 402,0",5 088
14,Calvados,691 453,"10,3","2,2","12,3","2,5","42,8",15 258,"1 192,0",5 548
15,Cantal,142 811,"14,3","2,0","13,2","1,1","34,1",869,"1 172,6",5 726
16,Charente,348 180,"12,5","2,1","14,9","1,5","35,2",4 248,"1 071,9",5 956
17,Charente-Maritime,647 080,"12,3","2,1","13,0","1,9","40,5",7 617,"1 270,5",6 864
18,Cher,296 404,"13,1","2,1","14,7","2,0","36,4",3 889,"1 138,9",7 235
19,Corrèze,240 336,"13,8","2,0","12,9","1,6","36,8",1 911,"1 198,1",5 857
21,Côte-d'Or,532 886,"9,3","2,1","11,3","2,6","42,3",24 584,"1 064,7",8 763
22,Côtes-d'Armor,596 186,"12,9","2,1","11,8","1,3","37,8",5 434,"1 140,2",6 878
23,Creuse,116 270,"16,7","2,0","18,2","1,6","30,2",685,"1 080,0",5 565
24,Dordogne,408 393,"13,7","2,1","16,3","1,8","35,7",2 920,"1 121,9",9 060
25,Doubs,539 449,"8,7","2,2","11,9","2,3","35,5",14 379,"1 017,4",5 233
26,Drôme,520 560,"9,7","2,2","14,7","2,3","40,7",8 326,"1 120,7",6 530
27,Eure,600 687,"9,4","2,3","12,5","3,0","35,6",14 005,"1 199,2",6 040
28,Eure-et-Loir,429 425,"9,9","2,3","12,4","3,2","39,1",17 062,"1 099,3",5 880
29,Finistère,906 554,"11,3","2,1","10,6","1,2","40,0",17 052,"1 224,7",6 733
2A,Corse-du-Sud,162 421,"9,5","2,3","16,5","6,3","42,6",1 743,NaN,4 014
2B,Haute-Corse,182 258,"9,5","2,2","20,6","5,9","44,0",1 495,NaN,4 666
...,...,...,...,...,...,...,...,...,...,...
71,Saône-et-Loire,547 824,"12,3","2,1","12,9","1,7","37,1",6 696,"1 040,3",8 575
72,Sarthe,560 227,"10,0","2,2","13,0","1,9","38,5",15 673,"938,9",6 206
73,Savoie,432 548,"9,0","2,2","9,8","3,3","50,5",11 661,"1 214,1",6 028
74,Haute-Savoie,828 405,"6,8","2,2","9,1","4,5","45,5",24 845,"1 131,6",4 388
75,Paris,2 148 271,"6,4","1,9","15,2","15,9","69,6",697 877,"1 588,3",105
76,Seine-Maritime,1 243 788,"9,8","2,2","14,5","2,9","40,8",49 400,"1 161,5",6 278
77,Seine-et-Marne,1 423 607,"6,4","2,5","11,6","7,5","51,5",166 880,"1 089,2",5 915
78,Yvelines,1 448 625,"6,4","2,4","9,4","7,3","48,9",201 209,"1 008,9",2 284
79,Deux-Sèvres,372 627,"10,6","2,2","12,3","1,1","43,1",3 439,"914,1",5 999
80,Somme,569 769,"10,5","2,2","16,6","3,1","35,7",13 850,"987,0",6 170
81,Tarn,387 898,"11,5","2,1","15,2","1,6","36,2",4 611,"903,0",5 758
82,Tarn-et-Garonne,262 618,"10,3","2,3","16,8","2,6","39,2",2 763,"1 104,3",3 718
83,Var,1 073 836,"11,4","2,1","15,4","6,1","45,5",21 551,"1 606,1",5 973
84,Vaucluse,560 997,"10,2","2,2","19,5","4,2","45,4",7 661,"1 361,2",3 567
85,Vendée,683 187,"10,7","2,2","9,3","1,2","36,8",4 311,"972,1",6 720
86,Vienne,437 398,"10,2","2,1","14,0","2,1","37,8",8 064,"975,8",6 990
87,Haute-Vienne,370 774,"11,6","2,0","15,1","2,2","38,0",6 963,"1 046,9",5 520
88,Vosges,359 520,"11,9","2,1","15,4","1,6","33,0",3 434,"816,0",5 874
89,Yonne,332 096,"13,1","2,1","14,4","2,7","37,1",6 746,"1 191,0",7 427
90,Territoire de Belfort,140 145,"9,7","2,2","14,2","2,2","39,9",4 256,"889,4",609
91,Essonne,1 319 401,"6,1","2,5","12,7","8,7","52,1",160 944,"1 019,9",1 804
92,Hauts-de-Seine,1 613 762,"6,2","2,2","11,8","13,0","69,4",358 595,"996,5",176
93,Seine-Saint-Denis,1 670 149,"5,4","2,5","27,9","20,6","56,3",333 107,"1 025,6",236
94,Val-de-Marne,1 406 041,"6,2","2,3","16,3","13,7","55,5",292 709,"998,7",245
95,Val-d'Oise,1 248 354,"6,0","2,6","16,6","11,3","50,2",187 635,"1 035,3",1 246
971,Guadeloupe,376 879,"8,9","2,2",N/A - résultat non disponible,"8,7","39,8",7 395,NaN,1 628
972,Martinique,358 749,"9,6","2,2","28,6","9,0","40,8",10 789,NaN,1 128
973,Guyane,290 691,"3,5","3,3",N/A - résultat non disponible,"34,5","33,0",2 074,NaN,83 534
974,La Réunion,859 959,"5,6","2,6","38,3","10,4","39,4",15 048,NaN,2 504
976,Mayotte,279 471,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A - résultat non disponible,N/A,NaN,

In [346]:
geojson_france_url = "https://france-geojson.gregoiredavid.fr/repo/departements.geojson"
geojson_france = requests.get(geojson_france_url).json()
geo_data = pd.DataFrame(geojson_france)
geo_data

                 type                                           features
0   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
1   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
2   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
3   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
4   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
5   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
6   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
7   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
8   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
9   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
10  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
11  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
12  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
13  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
14  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
15  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
16  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
17  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
18  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
19  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
20  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
21  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
22  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
23  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
24  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
25  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
26  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
27  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
28  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
29  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
..                ...                                                ...
66  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
67  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
68  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
69  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
70  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
71  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
72  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
73  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
74  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
75  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
76  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
77  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
78  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
79  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
80  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
81  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
82  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
83  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
84  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
85  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
86  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
87  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
88  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
89  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
90  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
91  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
92  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
93  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
94  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
95  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...

[96 rows x 2 columns]